<article>

  <h2>Perfil de Usuário</h2>

  <div class="card" *ngIf="auth.user | async as user">

    <img src="{{ user.photoURL }}" alt="{{ user .displayName }}">
    <div class="card-content">

      <h3 class="card-title">{{ user .displayName }}<small class="block">{{ user.email }}</small></h3>

      <p>Seu perfil é gerenciado pelo Google. Este site não tem acesso às suas informações privilegiadas.</p>
      <p>Para ver ou editar seu perfil, acesse sua conta Google ou clique no botão abaixo.</p>

      <p class="text-center">
        <button class="btn expand primary" (click)="openProfile()">
          <i class="fab fa-google fa-fw"></i> Ver perfil no Google
        </button>
      </p>

      <p>Para sair do aplicativo, clique no botão abaixo:</p>

      <p class="text-center">
        <button class="btn expand danger" routerLink="/user/logout">
          <i class="fas fa-sign-out-alt fa-fw"></i> Sair / Logout
        </button>
      </p>

    </div>

  </div>

</article>
