<div class="wrap" id="top">
  <nav>
    <div routerLink="/home" title="Página Inicial">
      <i class="fas fa-home fa-fw"></i><span>Início</span>
    </div>
    <div routerLink="/contacts" title="Contatos">
      <i class="fas fa-comments fa-fw"></i><span>Contatos</span>
    </div>
    <div routerLink="/about" title="Sobre">
      <i class="fas fa-info-circle fa-fw"></i><span>Sobre</span>
    </div>

    <div class="user-in" *ngIf="auth.user | async as user; else showLogin" routerLink="/user/profile">
      <img src="{{ user.photoURL }}" alt="{{ user.displayName }}">
    </div>

    <ng-template #showLogin>
      <div routerLink="/user/login" title="Logue-se!">
        <i class="fas fa-sign-in-alt fa-fw"></i><span>Login</span>
      </div>
    </ng-template>
  </nav>

  <header>
    <i class="fas fa-spider fa-fw fa-5x" routerLink="/home"></i>
    <h1>Meu App 02<small>Programando em Angular</small></h1>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div class="home" routerLink="/home">
      <i class="fas fa-home fa-fw" title="Página Inicial"></i>
    </div>
    <div class="copyright">&copy; Copyright 2021 André Ataíde</div>
    <div class="top" (click)="toAnchor('top')">
      <i class="fas fa-arrow-alt-circle-up fa-fw" title="Topo da Página"></i>
    </div>
  </footer>
</div>
