/** styles.css
 * Folhas de estilo globais
 */

/* Reset do CSS para que seja o mesmo entre os navegadores */

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px; /* Unidade rem */
  font-family: sans-serif;
}

div,
header,
nav,
footer,
article,
aside {
  display: block;
}

a {
  color: steelblue;
  text-decoration: none;
}

a:hover {
  color: orangered;
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px dotted grey;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid grey;
  padding: 0.5rem;
}

/* Fundo do tema */
body {
  background-color: darkblue;
  background-image: url(assets/background01.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* Elemento Article */

main {
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.9);
}

article {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 0 1rem;
}

/***** Estilos de uso geral *****/

/* Centraliza conteúdo do elemento */
.text-center {
  text-align: center;
}

/* Alinha conteúdo à direita */
.text-right {
  text-align: right;
}

/* Elemento é um bloco */
.block {
  display: block;
}

/* Imagens Responsivas Fluidas*/
.fluid {
  max-width: 100%;
}

/* Botões */
.btn {
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: inherit;
  font-family: inherit;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: grey;
  color: white;
}

.btn:disabled {
  background: transparent;
  color: grey;
  border: 1px solid grey;
  cursor: not-allowed;
}

/* Botões 'primary' */
.primary {
  background: steelblue;
  color: white;
}

.danger {
  background: orangered;
  color: white;
}

.danger small {
  display: inline-block;
  padding: 0.25rem;
  border-radius: 0.1rem;
}

button.expand {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

/* Artigos */

article figure {
  display: table;
  margin: auto;
  font-size: small;
  text-align: center;
}

article figure img {
  max-width: 100%;
}

/* Cards */

.card {
  width: 100%;
  max-width: 400px;
  margin: auto;
  background: white;
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.card img {
  display: block;
  margin: auto;
}
