/** styles.css
 * Folhas de estilo globais
 */

/* Reset do CSS para que seja o mesmo entre os navegadores */

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px; /* Unidade rem */
  font-family: sans-serif;
}

div,
header,
nav,
footer,
article,
main,
aside {
  display: block;
}

a {
  color: steelblue;
  text-decoration: none;
}

a:hover {
  color: orangered;
  text-decoration: underline;
}

/* Fundo do tema */

body {
  background-color: darkblue;
  background-image: url(assets/background01.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
